.navbar {
  z-index: 2;
  position: absolute !important;
  width: 100%;
  color: #fff !important;
}

.nav-link {
  color: white !important;
  text-align: center;
}
.navbar-brand h1 {
  color: white;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}


.navbar-toggler[aria-expanded="true"] {
  border-color: var(--primary-dark);
}

@media (max-width: 992px) {
  .nav-icons {
    display: none;
  }
  .navbar {
    background-color: white ;
  }
  .navbar-brand h1 {
    color: black;
  }
  .nav-link {
    color: black !important;
  }
  .nav-item {
    background-color: #f5f5f5;
  }
  .nav-link.active {
    color: var(--primary-dark) !important;
    font-weight: bold;
    border-bottom: 1px solid var(--primary-dark);
  }
}

@media (min-width: 991px) {
  .mobile-menu-bottom {
    display: none;
  }
}
.mobile-menu-bottom {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
.social-icons {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.social-icons .icon:hover {
  transform: scale(1.5);
  transition: 0.3s;
}

.menu-icons button {
  margin: 0.4rem;
  width: 90%;
}

.social-icons .icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primary-dark);
  background-color: white;
  padding: 2px;
  border-radius: 5px;
}
